# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
template-app/node_modules/
template-app/yarn.lock
template-app/package-lock.json
template-app/build/**
!template-app/build/index.html

.DS_Store
